<template>
  <div class="img-container">
    <div class="center">
      <div class="img-wrapper">
        <img :src="imgUrl" alt="Image not found - ask Phil ;)">
      </div>
    </div>
    <p class="caption">Hallo Alex wir wünschen  baldige Genesung  alles Liebe 💘 Oma und Opa 💘</p>
  </div>
</template>

<script setup lang="ts">
import {useRoute} from "vue-router";

const route = useRoute()
const imgUrl = `/${route.params.img}.jpg`;
</script>

<style>
.img-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.center {
  width: 80%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: red;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  position: absolute;
  transform: translate(0, -50%);
  margin: auto;
  width: 100%;
  height: auto;
  border-radius: 5%;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 1.0), 0 6px 20px 0 rgba(0, 0, 0, 1.0)
}

.caption {
  text-align: center;
  position: absolute;
  color: white;
  top: 70%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, 0);

}


</style>
