<script setup lang="ts">

</script>

<template>
  <main>
    <header>
      <h1>Alex' Video Adventkalender</h1>
    </header>
    <section class="sky">
      <div class="snowflakes" aria-hidden="true">
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
        <div class="snowflake">
          <div class="inner">❅</div>
        </div>
      </div>
      <div class="etch-a-sketch-grid">

        <a class="cell finished" href="https://www.youtube.com/watch?v=Bj04trpnw6I">1</a>
        <a class="cell finished" href="https://youtu.be/x5IIytjKyL0">2</a>
        <a class="cell finished" href="https://youtube.com/shorts/V31pBYwYdBY?feature=share">3</a>
        <a class="cell finished" href="https://youtube.com/shorts/Ra1x0XMNXBU?feature=share">4</a>

        <a class="cell finished" href="https://youtube.com/shorts/bUBkXA2vx7M?feature=share">5</a>
        <a class="cell finished" href="https://youtube.com/shorts/4sSbLJdZnBE?feature=share">6</a>
        <a class="cell finished" href="https://youtube.com/shorts/pBPq3bp0dn0?feature=share">7</a>
        <a class="cell finished" href="https://youtu.be/rE9e_7ReZmQ">8</a>

        <RouterLink class="cell finished" to="/about/december9">9</RouterLink>
        <a class="cell active" href="https://youtube.com/shorts/bdPGUJ06yHg?feature=share">10</a>
        <a class="cell">11</a>
        <a class="cell">12</a>

        <a class="cell">13</a>
        <a class="cell">14</a>
        <a class="cell">15</a>
        <a class="cell">16</a>

        <a class="cell">17</a>
        <a class="cell">18</a>
        <a class="cell">19</a>
        <a class="cell">20</a>

        <a class="cell">21</a>
        <a class="cell">22</a>
        <a class="cell">23</a>
        <a class="cell">24</a>
      </div>
    </section>
  </main>
</template>

<style scoped>
@font-face {
  font-family: "Christmas";
  font-weight: normal;
  font-style: normal;
  src: local("Raleway"), url("@/assets/christmas.otf") format("opentype");
}


main {
  width: 100%;
  height: 100%;
}


header {
  height: 20%;
}


h1 {
  text-align: center;
  font-family: Christmas, sans-serif;
  color: #CC231E;
  font-size: 2.5rem;
}

.sky {
  width: 100%;
  height: 80%;
}

.etch-a-sketch-grid {
  margin: auto;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 16%;
  width: 80%;
  grid-gap: 3%;
}

.cell {
  text-decoration: none;
  border: dashed #235E6F 2px;
  aspect-ratio: 1;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: rgba(200, 200, 200, 0.6);
}

.active {
  background: rgba(176, 124, 35, 0.6);
}

.finished {
  background: rgba(15, 138, 95, 0.6);
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}

.snowflake, .snowflake .inner {
  animation-iteration-count: infinite;
  animation-play-state: running
}

@keyframes snowflakes-fall {
  0% {
    transform: translateY(0)
  }
  100% {
    transform: translateY(110vh)
  }
}

@keyframes snowflakes-shake {
  0%, 100% {
    transform: translateX(0)
  }
  50% {
    transform: translateX(80px)
  }
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  animation-name: snowflakes-shake;
  animation-duration: 3s;
  animation-timing-function: ease-in-out
}

.snowflake .inner {
  animation-duration: 10s;
  animation-name: snowflakes-fall;
  animation-timing-function: linear
}

.snowflake:nth-of-type(0) {
  left: 1%;
  animation-delay: 0s
}

.snowflake:nth-of-type(0) .inner {
  animation-delay: 0s
}

.snowflake:first-of-type {
  left: 10%;
  animation-delay: 1s
}

.snowflake:first-of-type .inner, .snowflake:nth-of-type(8) .inner {
  animation-delay: 1s
}

.snowflake:nth-of-type(2) {
  left: 20%;
  animation-delay: .5s
}

.snowflake:nth-of-type(2) .inner, .snowflake:nth-of-type(6) .inner {
  animation-delay: 6s
}

.snowflake:nth-of-type(3) {
  left: 30%;
  animation-delay: 2s
}

.snowflake:nth-of-type(11) .inner, .snowflake:nth-of-type(3) .inner {
  animation-delay: 4s
}

.snowflake:nth-of-type(4) {
  left: 40%;
  animation-delay: 2s
}

.snowflake:nth-of-type(10) .inner, .snowflake:nth-of-type(4) .inner {
  animation-delay: 2s
}

.snowflake:nth-of-type(5) {
  left: 50%;
  animation-delay: 3s
}

.snowflake:nth-of-type(5) .inner {
  animation-delay: 8s
}

.snowflake:nth-of-type(6) {
  left: 60%;
  animation-delay: 2s
}

.snowflake:nth-of-type(7) {
  left: 70%;
  animation-delay: 1s
}

.snowflake:nth-of-type(7) .inner {
  animation-delay: 2.5s
}

.snowflake:nth-of-type(8) {
  left: 80%;
  animation-delay: 0s
}

.snowflake:nth-of-type(9) {
  left: 90%;
  animation-delay: 1.5s
}

.snowflake:nth-of-type(9) .inner {
  animation-delay: 3s
}

.snowflake:nth-of-type(10) {
  left: 25%;
  animation-delay: 0s
}

.snowflake:nth-of-type(11) {
  left: 65%;
  animation-delay: 2.5s
}


</style>